<div class="red-row">
  <div class="container">

    <nav class="navbar navbar navbar-static-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">WareCloud</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <ul class="nav navbar-nav pull-right">
            <li class="navigation-top">
              <a routerLink="/home">Начало</a>
              <a routerLink="/pricing">Цени</a>
              <a routerLink="/contacts">Контакти</a>
            </li>
          </ul>
        </ul>
      </div>
    </nav>
  </div>
</div>


<!-- Plans
================================================== -->

<div class="clear60"></div>


<div class="container">
  <div class="row pricing">
    <div class="col-xs-12 col-md-7">
      <form  #registerForm = "ngForm" name = "form" [formGroup]="form" (ngSubmit)="registerUser()">
        <fieldset>
          <div id="legend">
            <legend class="">Създайте вашия акаунт</legend>
          </div>
          <div class="control-group has-feedback">
            <label class="control-label" for="email">Имейл</label>
            <input class="form-control" formControlName="email"
                   id="email"
                   name="uEmail"
                   placeholder="Имейл"
                   type="email"
                   [(ngModel)] = "user.emailId"
            />


            <div *ngIf="form.get('email').touched && form.get('email').errors?.required" class="error">
              Имейлът е задължителен
            </div>
            <div *ngIf="form.get('email').touched && form.get('email').errors?.minlength" class="error">
              Имейлът трябва да е по-дълъг от 6 символа
            </div>
            <div *ngIf="form.get('email').touched && form.get('email').errors?.maxlength" class="error">
              Имейлът не може да надвишава 50 символа
            </div>
            <div *ngIf="form.get('email').touched && form.get('email').errors?.email" class="error">
              Моля въведете валиден имейл.
            </div>
          </div>




          <div class="control-group has-feedback">
            <label class="control-label" for="username">Потребителско име</label>
            <input class="form-control" formControlName="username"
                   id="username"
                   name="uName"
                   placeholder="Потребителско име"
                   type="text"
                   [(ngModel)] = "user.username"
            />


            <div *ngIf="form.get('username').touched && form.get('username').errors?.required" class="error">
              Потребителското име е задължителено
            </div>
            <div *ngIf="form.get('username').touched && form.get('username').errors?.minlength" class="error">
              Потребителското име трябва да е по-дълъго от 6 символа
            </div>
            <div *ngIf="form.get('username').touched && form.get('username').errors?.maxlength" class="error">
              Потребителското име не може да надвишава 30 символа
            </div>
            
          </div>



          <!-- Първа парола -->
          <div class="control-group has-feedback" [formGroup]="form.get('passwords')">
            <label class="control-label" for="password1">Парола</label>
            <input class="form-control" [formControl]="form.get('passwords').get('password1')"
                   id="password1"
                   name="uPassword"
                   placeholder="Парола"
                   type="password"
                   [(ngModel)] = "user.password"
            />


            <div
              *ngIf="form.get('passwords').get('password1').touched && form.get('passwords').get('password1').errors?.required"
              class="error">
              Паролата е задължително поле.
            </div>
            <div
              *ngIf="form.get('passwords').get('password1').touched && form.get('passwords').get('password1').errors?.minlength"
              class="error">
              Паролата трябва да е по-дълъгa от 6 символа
            </div>
            <div
              *ngIf="form.get('passwords').get('password1').touched && form.get('passwords').get('password1').errors?.maxlength"
              class="error">
              Паролата не може да надвишава 50 символа
            </div>

          </div>
          <!-- Втора парола -->

          <div class="control-group has-feedback" [formGroup]="form.get('passwords')">
            <label class="control-label" for="password2">Парола</label>
            <input class="form-control" [formControl]="form.get('passwords').get('password2')"
                   id="password2"
                   name="uPassword2"
                   placeholder="Парола"
                   type="password"
            />

            <div
              *ngIf="form.get('passwords').get('password2').touched && form.get('passwords').get('password2').errors?.required"
              class="error">
              Паролата е задължително поле.
            </div>
            <div *ngIf="form.get('passwords').hasError('notSame')" class="error">
              Паролите не съвпадат.
            </div>
          </div>


          <div class="clear20"></div>
          <div class="control-group">
            <!-- Button -->
            <div class="controls">
              <input
                type="submit"
                value="Създаване на акаунт"
                class="btn btn-info btn-lg"
              />
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="col-xs-12 col-md-4 pull-right" *ngFor="let item of data">
      <div *ngIf="item.id === id">
        <div class="panel {{ item.style }}">
          <div class="cnrflash">
            <div class="cnrflash-inner">
                          <span class="cnrflash-label">ВИЕ
                              <br>
                              ИЗБРАХТЕ</span>
            </div>
          </div>
          <div class="panel-heading">
            <h3 class="panel-title">
              {{ item.row1 }}</h3>
          </div>
          <div class="panel-body">
            <div class="the-price">
              <h1>{{ item.row2 }},<em>00</em>лв</h1><small>на месец</small>
            </div>
            <table class="table">
              <tr>
                <td>
                  {{ item.row3 }}
                </td>
              </tr>
              <tr class="active">
                <td>
                  {{ item.row4 }}
                </td>
              </tr>
              <tr>
                <td>
                  {{ item.row5 }}
                </td>
              </tr>
              <tr class="active">
                <td>
                  {{ item.row6 }}
                </td>
              </tr>
              <tr>
                <td>
                  {{ item.row7 }}
                </td>
              </tr>
              <tr class="active">
                <td>
                  {{ item.row8 }}
                </td>
              </tr>
              <tr>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
        >
      </div>
    </div>
  </div>

  <div class="clear60"></div>

  <div class="pricing-row">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 start-now">
          <h2>Имате въпроси?</h2>
          <P>Когато искате да подобрите бизнеса ви, използвайки софтуер обслужващ ежедневните ви операции могат да
            изникнат много въпроси. Ако искате да ни ги зададете винаги може да се свържете с нас, за да поговорим за
            бизнесът ви и как нашият софтуер ще организира вашия склад по един бърз и удобен начин. Също така сме готови
            да поговорим за интегриране с други софтуерни системи, вашия електронен магазин и всякакви други въпроси.
            Нашите високо квалифицирани специалисти имат отговор.</P>
          <a class="btn btn-default btn-lg" routerLink = "/contacts" role="button">Свържете се с нас</a>
          <div class="clear10"></div>
          <span class="help-text">Ние сме на разположение 24/7</span>
        </div><!-- /.col-lg-12 -->
        <div class="col-lg-4">
          <img src="../../assets/img/support.jpg" alt="Warehouse in a nice order">
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.start-now -->
  <div class="clear40"></div>


  <div style="background-color: #fff;">
    <!-- FOOTER -->
    <div class="container">
      <footer>
        <p>© 2020 Right Click ltd. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>
    </div>
  </div>

