<div ng-controller="chooseCompanyController">
  <div id="wrapper" class="active">


    <!-- Page content -->
    <div id="page-content-wrapper">
      <!-- Keep all page content within the page-content inset div! -->
      <div class="page-content inset">
        <div class="blue-green-header">
          <div class="container-fluid">
            <div class="row">
              <nav class="navbar navbar navbar-static-top col-lg-12">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                          aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" data-toggle="tooltip" data-placement="left" title="Настройки">
                      <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href=""><i
                        class="fa fa-cog"></i></a>
                      <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Изход</a></li>
                      </ul>
                    </li>
                    <li data-toggle="tooltip" data-placement="left" title="Свържете се с нас"><a href=""><i
                      class="fa fa-question"></i></a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>

        <div class="clear40"></div>

        <div class="row">
          <div class="col-md-12">
            <h3>Компании<small>, които има достъп до вашата система</small></h3>
          </div>
        </div>
        <div class="clear20"></div>
        <div class="row companies-listing">
          <div class="clear20"></div>
          <div class="col-lg-6 scale-fade" *ngFor="let info of data">
            <div class="media">
              <a class="pull-left" (click)="appsFill(info.id)">
                <img class="media-object dp img-circle" src="{{info.imgUrl}}" style="width: 100px;height:100px;">
              </a>
              <div class="media-body">
                <h4 class="media-heading">{{info.name}}
                  <a class="btn btn-xs pull-right"><i class="fa fa-pencil-square-o"></i></a>
                </h4>

                <h5>{{info.phone}} <a href="">{{info.mail}}</a></h5>
                <hr style="margin:8px auto">
                <span class="label label-default" data-ng-repeat="info in myAppApps">{{info.app}}</span>
              </div>
            </div>

          </div>
        </div>

        <div class="row companies-listing">
          <div class="col-lg-12">
            <hr/>
          </div>
          <div class="col-lg-6">
            <a routerLink="/create-company" class="newCompany">
              Добавяне на нова компания
            </a>
          </div>
        </div>

        <div class="clear60"></div>

      </div>
    </div>

  </div> <!-- END WRAPPER-->
</div>


